@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebboldfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebboldfanum']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebboldfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebboldfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebthinfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebthinfanum.eot']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebthinfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebthinfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanweblightfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanweblightfanum.eot']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanweblightfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanweblightfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebregularfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebregularfanum.eot']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebregularfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebregularfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebmediumfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebmediumfanum.eot']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebmediumfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebmediumfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebextraboldfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebextraboldfanum.eot']}?#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebextraboldfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebextraboldfanum.ttf']}") format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebblackfanum.eot']}");
  src: url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebblackfanum.eot?']}#iefix") format('embedded-opentype'),  /* IE6-8 */
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebblackfanum.woff']}") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("\#{resource['fonts:IranYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebblackfanum.ttf']}") format('truetype');
}
